body {
	/* background: darkolivegreen; */
}

.contact-form {
	position: absolute;

	inset: 0;
	margin: auto auto;
	height: 570px;
	width: 480px;
	padding: 4.5rem;
	outline: 2px solid pink;
	background-color: var(--dark-blue-grey);
}

.owner-title {
	color: var(--white);
	font-family: 'Arvo-Regular';
	line-height: 1.65;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}
.contact-input {
	background-color: var(--white);
	border: solid 1px var(--greyish);
	width: 100%;
	height: 4rem;
}

.lrg-input {
	height: 14rem;
}
