.footer-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 37rem;
	height: 500px;
	outline: 2px solid pink;
}

.stay-connected{
  height: 350px;
  outline: 2px solid green
}

.subscribe{
  height: 350px;
  outline: 2px solid lawngreen

}



