.card-wrapper {
  height: 49rem;
  width: 34rem;
  padding: 0 0 2.6rem;
  border-radius: 5px;
  border: solid 1px var(--light-periwinkle);
  background-color: var(--white);
  box-shadow: 0.3px 7px 0 rgba(28, 28, 27, 0.15);
  object-fit: contain;

  margin: 300px 0 0 300px
}

.listing-img {

  height: 45%;
  width: 100%;

}

.posted-wrapper {
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: space-between;

  & p {
    font-family: "Gotham-Book";

    text-transform: uppercase;
  }
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
  padding: 0 2rem;

  .price {
    font-family: "Arvo-Regular";
    line-height: 2;
    color: var(--dark)
  }

  .address {
    font-family: "Gotham-Book";

    line-height: 1.2;
    color: var(--dark);
  }

  .save-listing {
    height: 5rem;
    width: 5rem;
  }
}

.listing-icons {
  display: flex;

  gap: 1.25rem;

}

img {
  height: 12.5px;
  width: 12.5px;
}