.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 250px 0 25rem;
	height: 100px;
}

.nav ul {
	display: flex;
	padding: 0;

	list-style: none;
	gap: 2rem;
}

.nav ul li {
	min-width: 100px;
	padding: 1rem 0 10px 0;
	text-align: center;
	/* background-color: var(--dusk); */
	color: var(--white);
	border-radius: 1.65rem;
}

.logo {
	margin-top: 100px;
	width: 120px;
	height: 115px;
	border-radius: 40px 0 40px 0;
	font-weight: bold;
	text-align: center;
	color: var(--white);
	background-color: var(--blueberry);
	padding: 2.5rem;
}

.six {
	font-weight: bold;
}

.login-btn {
	background-color: var(--dusk);
}

.signup-btn {
	background-color: var(--iris);
}
