.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 250px 0 25rem;
	height: 10dvh;
}

.nav ul {
	display: flex;
	padding: 0;
	/* align-content: center; */
	list-style: none;
	gap: 2rem;
}

nav ul li {
	min-width: 100px;
	min-height: 35px;

	background-color: var(--dusk);
	color: var(--white);
	border-radius: 1.65rem;
}

.login-btn,
.signup-btn {
	margin: auto 0;
	text-align: center;
}
