.settings-container {
	height: 108rem;
	padding: 8rem 0px 0rem 37rem;
	background-color: var(--pale-lilac-two);
}

.dropdown-settings {
	gap: 1rem;
	display: flex;

	.dropdown {
		width: 34rem;
	}
}

.options {
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
	font-size: 2rem;
	margin: 6rem 0 4.5rem 0;

	& p {
		font-family: 'Gotham-Book';
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: 2px;
		color: var(--iris);
	}

	& :first-child,
	:last-child {
		text-decoration: underline;
	}
}

.settings-headline-60 {
	font-family: 'Arvo-Regular';
	font-weight: normal;

	line-height: 1.29;
	color: var(--dark-slate-blue);
}

/* .settings-container { */
/* & label {
		display: block;
	}
	& h6 {
		display: inline;
	}
} */

.settings-container {

	& label,
	input {
		width: 370px;
	}

	/* & div {
		display: flex;
		flex-direction: column;
	} */
}

.info {
	font-family: "Arvo-Regular";
	line-height: 2.95;
	font-weight: normal;
	color: var(--dark);
}