.settings-container {
	height: 108rem;
	padding: 8rem 0px 0rem 37rem;
	background-color: var(--pale-lilac-two);
}

.dropdown-settings {
	gap: 1rem;
	display: flex;

	margin-bottom: 7rem;

	.dropdown {
		width: 34rem;
	}
}

.options {
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
	font-size: 2rem;

	& p {
		color: var(--iris);
	}

	& :first-child,
	:last-child {
		text-decoration: underline;
	}
}

/* .settings-container { */
/* & label {
		display: block;
	}
	& h6 {
		display: inline;
	}
} */

.settings-container {
	& label,
	input {
		width: 370px;
	}
	/* & div {
		display: flex;
		flex-direction: column;
	} */
}
