.settings-container {
	height: 108rem;
	display: flex;
	flex-direction: column;
	padding-top: 8rem;
	align-items: center;
	justify-content: flex-start;

	background-color: var(--pale-lilac-two);
}

.dropdown-settings {
	gap: 1rem;
	display: flex;

	.dropdown {
		width: 34rem;
	}
}

.options {
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
	font-size: 2rem;
	margin: 6rem 0 4.5rem 0;

	& p {
		font-family: 'Gotham-Book';
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: 2px;
		color: var(--iris);
	}

	& :first-child,
	:last-child {
		text-decoration: underline;
	}
}

.settings-headline-60 {
	font-family: 'Arvo-Regular';
	font-weight: normal;

	line-height: 1.29;
	color: var(--dark-slate-blue);
}


.flex-row-g20 {
	display: flex;
	gap: 2rem;
}


.info {
	font-family: "Arvo-Regular";
	line-height: 2.95;
	font-weight: normal;
	color: var(--dark);
}

.settings-container label {
	font-size: 1rem;
	font-family: 'Gotham-Book';
	line-height: 1.2;
	margin: 2rem 0 0.8rem 0;
	color: #000;
}

.input-1 {
	width: 37rem;
	height: 4rem;
	font-size: 1.3rem;
}

.btn-wrapper {
	display: flex;
	justify-content: flex-end;
	padding-top: 5rem;
	gap: 1.5rem;



}