.sign-up-container {
	width: 23dvw;
	/* Temp Styles */

	margin: 233px auto 0;
	outline: 2px solid pink;
}

.close-btn {
	filter: invert(36%) sepia(76%) saturate(430%) hue-rotate(202deg)
		brightness(96%) contrast(88%);

	width: 3rem;
}
