* {
	font-size: 62.5%; /* 1rem = 10px */
	box-sizing: border-box;
	margin: 0;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

/* Font-Sizes */

.font-size-10 {
	font-size: 1rem;
}

.font-size-12 {
	font-size: 1.2rem;
}

.font-size-14 {
	font-size: 1.4rem;
}

.font-size-16 {
	font-size: 1.6rem;
}

.font-size-18 {
	font-size: 1.6rem;
}

.font-size-22 {
	font-size: 2.2rem;
}

.font-size-30 {
	font-size: 3rem;
}

.font-size-35 {
	font-size: 3.5rem;
}

/* Font-Family */

.gotham-book {
	font-family: 'Gotham-Book';
}

.gotham-bold {
	font-family: 'Gotham-Bold';
}
/* Alignment */

.align-right {
	text-align: right;
}

.align-item-baseline {
	display: flex;
	align-items: baseline;
}

.dusk-btn {
	width: 10rem;
	height: 3.5rem;

	letter-spacing: 2px;
	background-color: var(--dusk);
	color: var(--white);
	border-radius: 1.65rem;
	box-shadow: 0 3px 7px 0 rgba(28, 28, 28, 0.35);
	outline: none;
	border: none;
}

.iris-btn {
	width: 10rem;
	height: 3.5rem;
	background-color: var(--iris);

	letter-spacing: 2px;
	color: var(--white);
	border-radius: 1.65rem;
	box-shadow: 0 3px 7px 0 rgba(28, 28, 28, 0.35);
	outline: none;
	border: none;
}
